@model WebAppThales.Models.EmployeeViewModel

@{
    ViewData["Title"] = "Message";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Message</h1>

<div>
    <h4>The Api has too many requests</h4>    
</div>

